/* Define the custom font using @font-face */
@font-face {
  font-family: 'Basker';
  src: url(assets/fonts/LibreBaskerville-Regular.ttf);
}

/* Root styles */
html:root {
  --PrimaryFont: 'Basker', sans-serif;
  --PrimaryColor: #333; /* Set your primary text color */
  --BackgroundColor: #fff; /* Set your background color */
}

/* Apply root styles to the body */
body {
  margin: 0;
  font-family: var(--PrimaryFont);
  color: var(--PrimaryColor);
  background-color: var(--BackgroundColor);
  overflow-x: hidden;
}

/* Reset anchor styles */
a {
  color: inherit;
  text-decoration: none;
}
