.container {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-100%, 0);
    height: 100%;
    width:400px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
    height: 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main {
    height: 60%;
}

.footer {
    height: 30%;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    align-items: top;
}
